.accuracy {
  padding-right: 1.25rem;
  margin-right: 1.25rem;
  border-right: 1px solid var(--neutral-800);
  display: flex;
  align-items: center;
  gap: 8px;
}

.accuracy p span {
  color: var(--neutral-500);
  font-weight: 400;
  margin-right: 4px;
}

.accuracy .value-accuracy {
  font-weight: 700;
  color: var(--red-500);
}
